h1{
    font-family: 'Abril Fatface', cursive;
}
.Best{
    color:red;
}
.Female{
    color:purple;
}
.Artist{
    color:blue;
}
.Rock{
    color:grey;
}
.gold{
    color:gold;
}
body{
    text-align:center;
    background:url(https://cdn.pixabay.com/photo/2015/04/18/12/22/star-728644_960_720.jpg);
}
p{
    font-family: 'Kumar One Outline', cursive;
}
img{
    height:600px;
    width:700px;
}